@import "../SASS_Abstract/variable";

.listNotification {
  position: absolute;
  top: 4rem;
  right: 0;
  background-color: $color-white;
  box-shadow: 0px 0px 30px rgba($color-black, 0.2);
  width: 330px;
  border-radius: 7px;
  margin-top: 10px;
  padding: 10px;
  max-height: 80vh;
  overflow: auto;

  h1 {
    margin-top: 0;
    font-size: 28px;
  }

  p {
    margin-top: 40px;
    font-size: 16px;
    text-align: center;
  }

  @media only screen and (max-width: $bp-medium) {
    width: 310px;
    h1 {
      margin-top: 0;
      font-size: 24px;
    }
  }

  @media only screen and (max-width: $bp-smaller) {
    width: 265px;
    right: 2rem;
    h1 {
      margin-top: 0;
      font-size: 20px;
    }
  }
}
