// COLORS
$color-primary: #b6e5de;
$color-primary-light: #d9fff9;
$color-primary-dark: #93c9c1;

$color-secondary-light: #F9F9F9;
$color-secondary-dark: #e4d6d6;

$color-tertiary-light: #F7DBF0;
$color-tertiary-dark: #e2bbd8;

$color-fourth-light: #BEAEE2;
$color-fourth-dark: #a792d6;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-danger: #F8485E;