// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #f0f0f0;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-fourth-light: #DF4A8F;
$color-fourth-dark: #F00775;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-danger: #f8485e;

//BREAK POINTS
$bp-extraLarge: 1800px;
$bp-larger: 1450px; 
$bp-large: 1100px;
$bp-medium: 900px;
$bp-small: 760px;
$bp-smaller: 600px; 
$bp-extraSmall: 450px;
