// COLORS
$color-primary: #b6e5de;
$color-primary-light: #d9fff9;
$color-primary-dark: #93c9c1;

$color-secondary-light: #f9f9f9;
$color-secondary-dark: #e4d6d6;

$color-tertiary-light: #f7dbf0;
$color-tertiary-dark: #e2bbd8;

$color-fourth-light: #beaee2;
$color-fourth-dark: #a792d6;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-danger: #f8485e;

//BREAK POINTS
$bp-extraLarge: 1800px;
$bp-larger: 1450px; 
$bp-large: 1100px;
$bp-medium: 900px;
$bp-small: 760px;
$bp-smaller: 600px; 
$bp-extraSmall: 450px;
