@import "../SASS_Abstract/variable";

.listEvent {
  width: 65%;
  margin-left: 25%;
  margin-top: 8%;
  position: relative;
  display: inline-block;
  border-radius: 1%;
  text-align: center;

  &__loading {

    img {
      width: 30px;
    }
  }

  &__notification {

    p {
      font-size: 1.3rem;
      font-weight: 600;
    }
  }

  @media only screen and (max-width: $bp-larger) {
    width: 72%;
    margin-left: 23%;
    margin-top: 11rem;
  }

  @media only screen and (max-width: $bp-large) {
    width: 75%;
    margin-left: 22%;
  }

  @media only screen and (max-width: $bp-medium) {
    margin-top: 17rem;
    width: 85%;
    margin-left: 7.5%;
  }

  @media only screen and (max-width: $bp-small) {
    margin-top: 15rem;
    width: 95%;
    margin-left: 2.5%;
  }

  @media only screen and (max-width: $bp-smaller) {
    width: 95%;
    margin-left: 2.5%;
  }
}
