@import "../SASS_Abstract/variable";

.userNav {
  background-color: $color-white;
  margin-right: 1rem;

  & > * {
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
  }

  &__iconBox {
    position: relative;
    margin-right: 2rem;
    padding: 0.5rem;
    border-radius: 7%;
    box-sizing: border-box;
    cursor: pointer;

    &:hover > img {
      transform: rotate(15deg);
    }

    &:active {
      background-color: $color-tertiary-light;
    }
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    transition: all 0.2s;
  }

  &__notification {
    font-size: 0.8rem;
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50%;
    background-color: $color-primary;
    color: $color-white;
    position: absolute;
    top: -0.2rem;
    right: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover * .userNav__icon {
      transform: rotate(15deg);
    }
  }

  &__user {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &_sign {
      font-size: 1.2rem;
      font-weight: 500;
      cursor: pointer;
      transition: transform 0.08s;

      a {
        text-decoration: none;
        color: $color-tertiary-light;

        &:active,
        &:visited {
          color: $color-tertiary-light;
        }
      }

      &:active {
        transform: translateY(0.5px);
      }
    }

    &_divide {
      margin: 0 0.5rem;
    }

    @media only screen and (max-width: $bp-extraLarge) {
      &_sign {
        font-size: 1.3rem;
      }
    }

    @media only screen and (max-width: $bp-larger) {
      &_sign {
        font-size: 1.4rem;
      }
    }

    @media only screen and (max-width: $bp-medium) {
      &_sign {
        font-size: 1.5rem;
      }
    }

    @media only screen and (max-width: $bp-smaller) {
      &_sign {
        font-size: 1.6rem;
      }
    }

    @media only screen and (max-width: $bp-extraSmall) {
      &_sign {
        font-size: 1.7rem;
      }
    }
  }

  &__avatar {
    height: 55px;
    width: 55px;
    border-radius: 50%;
    margin-right: 5%;
  }

  &__name {
    font-size: 1.1rem;
    margin-right: 0.6rem;
    text-align: center;
  }

  @media only screen and (max-width: $bp-extraLarge) {
    &__name {
      font-size: 1.3rem;
      margin-right: 1.1rem;
    }

    &__avatar {
      height: 50px;
      width: 50px;
    }
  }

  @media only screen and (max-width: $bp-larger) {
    &__icon {
      height: 2.75rem;
      width: 2.75rem;
    }
  }

  @media only screen and (max-width: $bp-medium) {
    &__icon {
      height: 2.5rem;
      width: 2.5rem;
    }

    &__name {
      font-size: 1.4rem;
      margin-right: 0.8rem;
    }

    &__avatar {
      height: 45px;
      width: 45px;
    }
  }

  @media only screen and (max-width: $bp-smaller) {
    &__avatar {
      height: 35px;
      width: 35px;
    }
  }

  @media only screen and (max-width: $bp-extraSmall) {
    &__iconBox {
      margin-right: 1.2rem;
      padding: 0.2rem;
      border-radius: 7%;
      box-sizing: border-box;
      cursor: pointer;

      &:active {
        background-color: $color-tertiary-light;
      }
    }

    &__name {
      font-size: 1.5rem;
    }

    &__avatar {
      height: 25px;
      width: 25px;
    }
  }
}

.dropdown {
  position: relative;
  display: inline-block;

  label {
    cursor: pointer;
  }

  &__button {
    &_checkBox {
      display: none;
    }
  }

  &__content {
    position: absolute;
    right: -2rem;
    top: 2.5rem;
    background-color: $color-white;
    box-shadow: 2px 2px 5px rgba($color-black, 0.2);
    width: 1300%;
    border-radius: 5%;
    height: 0;
    display: none;

    a {
      font-size: 1rem;
      padding: 1.2rem 1rem;
      text-decoration: none;
      display: block;
      text-align: center;
      text-transform: capitalize;
      border-radius: 5%;

      &:hover {
        background-color: $color-primary-light;
      }
    }

    &_createEvent {
      font-weight: 600;
      font-size: 1.4rem;

      &:link,
      &:visited {
        color: $color-tertiary-light;
      }

      &:active {
        color: $color-tertiary-dark;
      }
    }

    &_edit {
      font-weight: 500;
      &:link,
      &:visited {
        color: $color-tertiary-light;
      }

      &:active {
        color: $color-tertiary-dark;
      }
    }

    &_logout {
      color: $color-danger;
      font-weight: 500;
      font-size: 1rem;
      margin: 0;
      padding: 1.2rem 1rem;
      text-decoration: none;
      display: block;
      text-align: center;
      text-transform: capitalize;
      border-radius: 5%;

      &:hover {
        background-color: $color-primary-light;
      }
    }
  }

  &:hover {
    cursor: pointer;
  }
  &__button_checkBox:checked + .dropdown__content {
    height: auto;
    display: inline-block;
  }

  @media only screen and (max-width: $bp-extraLarge) {
    &__content {
      right: -1.2rem;
      top: 3rem;
      z-index: 100;
    }
    a {
      font-size: 1.2rem;
    }

    &_logout {
      font-size: 1.2rem;
    }
  }

  @media only screen and (max-width: $bp-medium) {
    &__button {
      margin-top: 0.4rem;
    }
  }

  @media only screen and (max-width: $bp-smaller) {
    margin-right: 1rem;

    &__button {
      img {
        width: 10px;
        height: 10px;
      }
    }

    &__content {
      width: 900%;
    }
  }

  @media only screen and (max-width: $bp-extraSmall) {
    &__button {
      margin-top: 0.7rem;

      img {
        width: 8px;
        height: 8px;
      }
    }

    &__content {
      width: 650%;
    }
  }
}
