@import "../SASS_Abstract/variable";

.userNav {
  & > * {
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
  }

  &__user {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 5%;
  }

  &__name {
    font-size: 1.1rem;
    margin-right: 0.6rem;
  }
}

.dropdown {
  position: relative;
  display: inline-block;

  &__button {
    margin-top: 0.2rem;

    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    position: absolute;
    right: -2rem;
    top: 2.5rem;
    background-color: $color-white;
    box-shadow: 2px 2px 5px rgba($color-black, 0.2);
    z-index: 1;
    opacity: 0;
    transition: all 0.4s;
    width: 1300%;
    border-radius: 5%;

    a {
      font-size: 1rem;
      padding: 1.2rem 1rem;
      text-decoration: none;
      display: block;
      text-align: center;
      text-transform: capitalize;
      border-radius: 5%;

      &:hover {
        background-color: $color-primary-light;
      }
    }

    &_createEvent {
      font-weight: 600;
      font-size: 1.4rem;

      &:link {
        color: $color-fourth-light;
      }

      &:active {
        color: $color-fourth-dark;
      }
    }

    &_edit {
      font-weight: 500;
      &:link {
        color: $color-fourth-light;
      }

      &:active {
        color: $color-fourth-dark;
      }
    }

    &_logout {
      color: $color-danger;
      font-weight: 500;
    }
  }

  &:hover &__content {
    opacity: 1;
  }
}
