@import "../SASS_Abstract/variable";

.form {
  margin-top: 35px;

  label {
    color: $color-grey-dark;
    font-weight: 500;
    display: block;
    margin-bottom: 16px;

    a {
      color: $color-primary;
      text-decoration: none;
      float: right;
    }
  }

  &__input {
    width: 95%;
    font-weight: 400;
    font-size: 18px;
    padding: 9px;
    border-radius: 5px;
    border: 1px solid $color-grey-dark-2;

    &_large {
      width: 101%;
    }

    @media only screen and (max-width: 620px) {
      background-color: rgba($color-white, 0.5);
    }
  }

  &__error {
    color: $color-danger;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 16px;

    @media only screen and (max-width: 1200px) {
      font-size: 14px;
    }

    @media only screen and (max-width: 900px) {
      font-size: 14px;
      padding-top: 4px;
      padding-bottom: 25px;
    }
  }
}

.btn {
  width: 100%;
  font-size: 19px;
  font-weight: 500;
  padding: 10px 40px;
  display: inline-block;
  border-radius: 6px;
  position: relative;
  transition: all 0.1s;
  border: none;
  cursor: pointer;

  &:hover {
    transform: translateY(1px);
  }

  &:active {
    transform: translateY(0);
  }
}

.btn_primary {
  background-color: $color-primary;
  color: white;
  border: 1px solid transparent;

  &:active {
    color: $color-primary;
    background-color: $color-white;
    border: 1px solid $color-primary;
  }
}

.btn_primary_light {
  background-color: $color-primary-light;
  color: white;
  border: 1px solid transparent;

  &:active {
    color: $color-primary-light;
    background-color: $color-white;
    border: 1px solid $color-primary-light;
  }
}

.btn_primary_outline {
  color: $color-primary;
  background-color: $color-white;
  border: 1px solid $color-primary;

  &:active {
    background-color: $color-primary;
    color: white;
  }
}

.btn_tertiary_dark {
  background-color: $color-tertiary-dark;
  color: $color-white;
  border: 1px solid transparent;

  &:active {
    color: $color-tertiary-dark;
    background-color: $color-white;
    border: 1px solid $color-tertiary-dark;
  }
}

.btn_tertiary_light {
  background-color: $color-tertiary-light;
  color: $color-white;
  border: 1px solid transparent;

  &:active {
    color: $color-tertiary-light;
    background-color: $color-white;
    border: 1px solid $color-tertiary-light;
  }
}

.btn_secondary_dark {
  background-color: $color-secondary-dark;
  color: $color-white;
  border: 1px solid transparent;

  &:active {
    color: $color-secondary-dark;
    background-color: $color-white;
    border: 1px solid $color-secondary-dark;
  }
}

.btn_danger {
  background-color: $color-danger;
  color: $color-white;
  border: 1px solid transparent;

  &:active {
    color: $color-danger;
    background-color: $color-white;
    border: 1px solid $color-danger;
  }
}

.btn_wait {
  &:hover,
  &:active {
    transform: translateY(0) !important;
  }
}

.btn_grey_dark {
  background-color: $color-grey-dark;
  color: $color-white;
  border: 1px solid transparent;
  cursor: wait;
}

.googleBtn {
  button {
    color: $color-primary;
    padding: 1rem 0rem 1rem 2rem;
    width: 200%;
    background-color: $color-white;
  }
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 28px 0;
  font-weight: 500;

  @media only screen and (max-width: 900px) {
    margin: 14px 0;
  }
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: 1rem;
}

.separator:not(:empty)::after {
  margin-left: 1rem;
}

.icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 0.5rem;
  transform: translateY(1.6px);
}

// Toggle button

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  cursor: pointer;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  &.round {
    border-radius: 34px;

    &:before {
      border-radius: 50%;
    }
  }
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.loader_icon {
  text-align: center;
  border: 5px solid $color-white;
  border-top: 5px solid $color-primary;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1.5s linear infinite;
  display: inline-block;
  margin: -20px 10px -9px 0;
  padding: 0;

  @media only screen and (max-width: $bp-large) {
    border: 4px solid $color-white;
    border-top: 4px solid $color-primary;
    width: 17px;
    height: 17px;
    margin: -20px 10px -6px -30px;
  }

  @media only screen and (max-width: $bp-extraSmall) {
    border: 4px solid $color-white;
    border-top: 4px solid $color-primary;
    width: 17px;
    height: 17px;
    margin: -20px 5px -6px -30px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
