@import "../SASS_Abstract/variable";

.reset {
  height: 100vh;
  font-size: 16px;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.7),
      rgba($color-primary-dark, 0.7)
    ),
    url(./images/background.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  &__back {
    width: 30%;
    padding: 12px 10px;
    margin-bottom: 40px;
    position: relative;
    bottom: 10px;
    right: 40px;

    a {
      text-decoration: none;
      color: $color-white;
      font-size: 18px;

      &:active {
        color: $color-primary;
      }
    }

    @media only screen and (max-width: 1800px) {
      width: 37%;
      padding: 8px;
      margin-bottom: 35px;
      bottom: 6px;
      right: 35px;
    }

    @media only screen and (max-width: 900px) {
      width: 35%;
      padding: 8px 2px;
      bottom: 6px;
      right: 10px;

    }

    @media only screen and (max-width: 620px) {
        width: 40%;
  
      }
  }

  &__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 52%;
    box-shadow: 1.6px 15px 30px rgba($color-black, 0.2);
    display: table;

    @media only screen and (max-width: 1800px) {
      width: 60%;
    }

    @media only screen and (max-width: 1450px) {
      width: 70%;
    }

    @media only screen and (max-width: 1200px) {
      width: 80%;
    }

    @media only screen and (max-width: 900px) {
      width: 95%;
    }

    @media only screen and (max-width: 620px) {
      width: 70%;
    }

    @media only screen and (max-width: 450px) {
      width: 85%;
    }
  }

  &__poster {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    background-image: url("./images/poster.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @media only screen and (max-width: 620px) {
      display: none;
    }
  }

  &__content {
    display: table-cell;
    padding: 24px 60px 35px;
    background: rgba($color-white, 0.9);
    height: 60vh;

    h1 {
      text-transform: uppercase;
      color: $color-primary-dark;
      font-size: 43px;
      margin: 0;
      text-align: center;
    }

    h3 {
      font-size: 27px;
      font-weight: 600;
      text-align: center;
    }

    @media only screen and (max-width: 1450px) {
      padding: 18px 55px 27px;

      h1 {
        font-size: 35px;
      }

      h3 {
        font-size: 25px;
      }
    }

    @media only screen and (max-width: 1200px) {
      padding: 18px 48px 27px;

      h1 {
        font-size: 32px;
      }

      h3 {
        font-size: 22px;
      }
    }

    @media only screen and (max-width: 900px) {
      background: rgba($color-white, 0.7);
      padding: 16px 24px 25px;

      h3 {
        font-size: 21px;
      }
    }
  }

  &__form {
    &__group {
      margin-bottom: 40px;

      label {
        margin-bottom: 20px;
      }
    }

    @media only screen and (max-width: 900px) {
      &__group {
        margin-bottom: 20px;
      }
    }
  }
}
