@import "../SASS_Abstract/variable";

.register {
  height: 100vh;
  font-size: 16px;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.6),
      rgba($color-primary-dark, 0.6)
    ),
    url(./images/background.jpg);
  background-size: cover;
  background-position: top;
  position: relative;

  &__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 52%;
    box-shadow: 1.6px 15px 30px rgba($color-black, 0.2);
    display: table;

    @media only screen and (max-width: 1800px) {
      width: 60%;
    }

    @media only screen and (max-width: 1450px) {
      width: 70%;
    }

    @media only screen and (max-width: 1200px) {
      width: 80%;
    }

    @media only screen and (max-width: 900px) {
      width: 95%;
    }

    @media only screen and (max-width: 620px) {
      width: 70%;
    }

    @media only screen and (max-width: 450px) {
      width: 85%;
    }
  }

  &__poster {
    width: 50%;
    display: table-cell;
    background-image: url("./images/poster.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @media only screen and (max-width: 620px) {
      display: none;
    }
  }

  &__content {
    display: table-cell;
    vertical-align: middle;
    padding: 22px 72px 30px;
    background: rgba($color-white, 0.9);

    h1 {
      text-transform: uppercase;
      color: $color-primary;
      font-size: 43px;
      margin: 0;
      text-align: center;
    }

    p {
      font-weight: 500;
      margin-bottom: -10px;

      a {
        color: $color-primary;
      }
    }

    @media only screen and (max-width: 1450px) {
      padding: 18px 55px 27px;

      h1 {
        font-size: 35px;
      }
    }

    @media only screen and (max-width: 1200px) {
      padding: 18px 48px 27px;

      h1 {
        font-size: 32px;
      }
    }

    @media only screen and (max-width: 900px) {
      background: rgba($color-white, 0.7);
      padding: 16px 24px 25px;

      p {
        margin-bottom: -8px;
      }
    }

    @media only screen and (max-width: 620px) {
      p {
        margin-bottom: -12px;
      }
    }
  }

  &__form {
    &__group {
      margin-bottom: 20px;

      &:last-of-type {
        margin-bottom: 28px;
      }

      label {
          margin-bottom: 5px;
      }
    }

    @media only screen and (max-width: 900px) {
      &__group {
        margin-bottom: 20px;
      }

      &__checkbox {
        margin-top: -5.5px;
        margin-bottom: 8px;
      }
    }
  }
}
